title: CMECS Documentation
description: Information about CMECS and its implementation and maintenance
theme: just-the-docs

url: https://r0sek.github.io
baseurl: "/cmecs-documentation"
aux_links:
  CMECS Catalog Repository: https://github.com/NOAA-OCM/cmecs

plugins: []

# Set output URL style
permalink: pretty

# Set a path/url to a logo that will be displayed instead of the title
logo: "/assets/images/CMECS logo - FINAL_notext.png"

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"
callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
