name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Configure Bundler to Ignore Frozen Mode
        run: bundle config set frozen false
      - name: Install Dependencies
        run: bundle install
      - name: Build with Jekyll
        run: bundle exec jekyll build
